<% layout('./layouts/boilerplate') %>
    <div class="col-6 offset-3">
        <h1 class="text-center">Edit Campground</h1>

        <form action="/campgrounds/<%= camp.id %>?_method=PUT" method="POST" novalidate class="myForm" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Title" name="campground[title]"
                    value="<%= camp.title %>" required>
            </div>
            <div class="mb-3">
                <label for="images" class="form-label">Add more images</label>
                <div class="input-group">
                    <label class="input-group-text" for="images">Campground Image</label>
                    <input type="file" class="form-control" name="campground[images]" id="images" multiple>
                </div>
            </div> 
            <div class="container">
                <div class="row mb-3">
                    <% camp.images.forEach((img, index) => { %>
                        <div class="col-md-4 position-relative">
                            <label class="d-block position-relative">
                                <img crossorigin="anonymous" src="<%= img.thumbnail %>" class="img-thumbnail w-100" style="height: 200px; object-fit: cover;">
                                <input class="form-check-input position-absolute" id="image-<%= img.index %>" type="checkbox" name="deleteImages[]" value="<%= img.fileName %>" style="top: 10px; right: 10px;">
                            </label>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" placeholder="Location" name="campground[location]"
                    value="<%= camp.location %>" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" id="description" placeholder="Description" rows="4" cols="50"
                    name="campground[description]" required><%= camp.description %></textarea>
            </div>
            <div>
                <label for="price" class="form-label">Price</label>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">DA</span>
                <input type="text" class="form-control" id="price" aria-label="Amount (to the nearest dollar)"
                    name="campground[price]" value="<%= camp.price %>" required>
            </div>
            <div class="row justify-content-between text-center">

                <div class="col-3">
                    <button class="btn btn-info">Camp It</button>
                </div>
                <div class="col-3">
                    <a href="/campgrounds/<%= camp.id %>" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </form>
    </div>