<% layout('./layouts/boilerplate') %>
<div class="row">
    <div class="card mb-3 col-6">
        <img src="<%= camp.image %>" class="card-img-top rounded img-fluid img-thumbnail " alt="...">
        <div class="card-body">
            <h5 class="card-title">
                <%= camp.title %>
            </h5>
            <p class="card-text">
                <%= camp.description %>
            </p>
            <p class="card-text">
                <% if(camp.price==0){ %>
                    <b>Price: FREE</b>
                    <% } else {%>
                        <b>Price: <%= camp.price %> Da</b>
                        <% } %>
            </p>
            <p class="card-text"><small class="text-body-secondary">
                    <%= camp.location %>
                </small></p>
            <p class="card-text">
                <a href="/campgrounds">All Campgrounds</a>
            </p>
            <p class="card-text">
                <a href="/campgrounds/<%=camp.id %>/edit">EDIT</a>
            </p>
            <form action="/campgrounds/<%=camp.id %>?_method=DELETE" method="POST">
                <button>DELETE</button>
            </form>
    

        </div>
    </div>
    <div class="card mb-3 col-6">
        <h2>Leave a review</h2>
    <form action="/campgrounds/<%=camp.id %>/reviews" method="POST" class="mb-3 validated-form">
        <div class="mb-3">
            <label class="form-label" for="rating">Rating</label>
            <input id="rating" class="form-range" type="range" name="review[rating]" min="1" max="5">
            <!-- Optional: To display the rating value -->
        </div>
        <div class="mb-3 form-floating">
            <textarea class="form-control" placeholder="Please enter your review..." minlength="10" name="review[body]" id="body" cols="30" rows="10" style="height: 100px" required></textarea>
            <div class="invalid-tooltip">Missing!!</div>
            <label class="form-label" for="body">Review</label>
            <button class="btn btn-success">Submit Review</button>
        </div>
        </form>
        <div>
            <% camp.reviews.forEach(review => { %>
                <div class="row mb-3 card bg-primary-subtle ">
                <div class="card-body col-6">
                <h5 class="card-title">
                Rating: <%= review.rating %>
                </h5>
                <p class="card-text">
                <%= review.body %>
                </p>   
                </div>
                <div class="col-3">
                <form action="/campgrounds/<%=camp.id%>/reviews/<%=review.id%>?_method=DELETE" method="POST">
                <button class="mb-3 btn btn-sm btn-danger">delete review</button>
                </form>
                </div>
                    
                </div>
             
            <% }) %>
        </div>
    </div>
</div>